@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300;1,400&display=swap');

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --prime-dark: #2C3E50;
   --sec-dark: #E74C3C;
   --text-lite: #ECF0F1;
   --sec-even: #b3d89c;
   --sec-odd: #d0efb1;
   --clr-beta: #d6e0ea;
}

html {
   font-size: 16px;
}

body {
   font-family: 'Source Sans Pro', sans-serif;
}

.topbar {
   background-color: var(--prime-dark);
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--text-lite);
   margin-left: 10px;
   letter-spacing: 2px;
   display: flex;
}

.menu {
   display: flex;
   margin: 10px;
}

.menu ul {
   list-style-type: none;
   display: flex;
}

.button a {
   background-color: var(--sec-dark);
   color: var(--text-lite);
   text-decoration: none;
   font-weight: 600;
   margin: 16px;
   padding: 10px;
   border-radius: 6px;
}

.button a:hover {
   background-color: transparent;
   border: 2px solid var(--sec-dark);
   padding: 8px;
}

.profile {
   background-color: var(--clr-beta);
   height: calc(75vh - 80px);
   width: 100%;
   display: flex;
   align-items: center;
}

.profile div {
   background-color: var(--text-lite);
   height: fit-content;
   width: 40%;
   border: 2px solid var(--sec-even);
   border-radius: 10px;
   padding: 40px;
   margin: auto;
   text-align: center;
}

.profile div:hover {
   box-shadow: 2px 2px 8px 1px var(--sec-odd);
}

.profile div img {
   border-radius: 50%;
}

.profile h1 {
   margin: 20px auto 5px auto;
   font-size: 30px;
   font-weight: 900;
}

.sec {
   height: 25vh;
   width: 100%;
   font-size: 30px;
   font-weight: 800;
   display: flex;
   justify-content: center;
   align-items: center;
}

.light {
   background-color: var(--sec-odd);
}

.dark {
   background-color: var(--sec-even);
}

.sec-content {
   background-color: var(--clr-beta);
   height: 20vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.foot {
   background-color: var(--prime-dark);
   color: var(--text-lite);
   height: 15vh;
   width: 100%;
   padding: 20px;
   text-align: center;
}