@media only screen and (max-width: 450px) {
    /* Navigation Bar re-visited */

    .topbar {
        height: 12vh;
        width: 100%;
        flex-direction: column;
        padding: 10px;
    }

    /* Logo re-visited */

    .logo {
        font-family: cursive;
        font-size: 1rem;
        border: 1px solid;
        padding: 2px;
        border-radius: 2px;
    }

    /* Button ka style re-visited */

    .button a {
        font-size: 16px;
        font-weight: 500;
        margin: 10px;
        padding: 6px;
        border-radius: 6px;
    }

    .button a:hover {
        background-color: transparent;
        border: 2px solid var(--sec-dark);
        padding: 8px;
    }

    .sec-button a {
        font-size: 16px;
        font-weight: 900;
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
    }

    .sec-button i {
        padding-left: 6px;
    }

    .sec-button a:hover {
        padding: 8px;
    }

    /* Profile section re-visited */

    .profile {
        height: fit-content;
        padding: 20px;
    }

    .profile div {
        padding: 10px;
        width: 90%;
        font-size: 12px;
    }

    .profile h1 {
        margin: 10px auto 5px auto;
        font-size: 22px;
        font-weight: 900;
    }

    .profile div img {
        height: 70%;
        width: 70%;
        border-radius: 20px;
    }

    /* Section ka alignment re-visited */

    .sec {
        height: ;
        padding: 10px;
    }

    .sec h2 {
        font-size: 30px;
        font-weight: 900;
    }

    .sec p {
        font-size: 16px;
        margin-left: 30px;
        margin-right: 30px;
    }

    /* Individual sections customization re-visited */

    .aboutme {
        height: 40vh;
    }

    .skills {
        height: fit-content;
        padding: 25px;
    }

    .skills div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .skills div p {
        padding: 6px;
        margin: 10px;
        display: flex;
    }

    .projects,
    .blogs {
        height: 30vh;
    }

    .contact {
        height: fit-content;
        padding-top: 30px;
    }

    /* Write to me part of the contact */

    .social-wrapper {
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }

    .social-icon {
        width: 50px;
        height: 50px;
        padding-top: 16px 32px;
        display: flex;
    }

    form {
        width: 90%;
        margin: 20px auto;
    }

    .form-heading {
        font-size: 20px;
        padding: 20px;
    }

    .input-wrapper {
        padding: 25px 25px;
    }

    .input-box {
        font-size: 16px;
        padding-top: 18px;
        padding-bottom: 12px;
        margin-bottom: 36px;
        border: 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    .btn-submit {
        padding: 8px 10px;
        font-size: 16px;
        border: none;
    }

    .btn-submit:hover {
        background-color: transparent;
        border: 2px solid var(--sec-dark);
        color: var(--prime-dark);
        padding: 6px 10px;
    }

    .foot {
        font-size: 14px;
    }
}
